In [1]:
import pandas as pd
import numpy as np

In [2]:
groceries = pd.Series(data=[30,6,'Yes','No','Yes'],index=['eggs','apples','milk','bread','salad'])
print(groceries)
print(groceries.values)
print(groceries.index)
print("Dim {} - Shape {} - Size {}".format(groceries.ndim,groceries.shape, groceries.size))
print('eggs' in groceries)

eggs       30
apples      6
milk      Yes
bread      No
salad     Yes
dtype: object
[30 6 'Yes' 'No' 'Yes']
Index(['eggs', 'apples', 'milk', 'bread', 'salad'], dtype='object')
Dim 1 - Shape (5,) - Size 5
True

In [3]:
#accessing pandas series with either label or integer index and loc vs iloc
print(groceries[['apples','bread']])
print(groceries.loc[['apples','bread']])
print(groceries.iloc[[0,3]])
print(groceries[-1])

groceries.drop('milk',inplace=True)
print(groceries)

apples     6
bread     No
dtype: object
apples     6
bread     No
dtype: object
eggs     30
bread    No
dtype: object
Yes
eggs       30
apples      6
bread      No
salad     Yes
dtype: object

In [4]:
#arithmetic operations on pandas series
fruits = pd.Series(data=[5, 10, 12, 6],index=['mangoes','apples','pears','grapes'])
print(fruits)                        
print(fruits*2)
print(np.sqrt(fruits))
print(fruits[1]*5)

mangoes     5
apples     10
pears      12
grapes      6
dtype: int64
mangoes    10
apples     20
pears      24
grapes     12
dtype: int64
mangoes    2.236068
apples     3.162278
pears      3.464102
grapes     2.449490
dtype: float64
50

In [5]:
#Dataframe
#Crate a dictionary

fruits = {
    'india': pd.Series(data=[100,50,25],index=['mango','guava','apples']),
    'usa': pd.Series(data=[100,100,50],index=['pluot','apples','kiwi']),
    'china': pd.Series(data=[50,80,75],index=['durian','lychee','kiwi'])
}

df = pd.DataFrame(fruits)
print(df)

        india    usa  china
apples   25.0  100.0    NaN
durian    NaN    NaN   50.0
guava    50.0    NaN    NaN
kiwi      NaN   50.0   75.0
lychee    NaN    NaN   80.0
mango   100.0    NaN    NaN
pluot     NaN  100.0    NaN

In [6]:
#select from dataframe
#access column
print(df[['india','usa']],type(df[['india','usa']]))
#access rows
print("\n",df.loc['apples'],type(df.loc['apples']))
#access rows and column
print("\n",df['india']['guava'])

        india    usa
apples   25.0  100.0
durian    NaN    NaN
guava    50.0    NaN
kiwi      NaN   50.0
lychee    NaN    NaN
mango   100.0    NaN
pluot     NaN  100.0 <class 'pandas.core.frame.DataFrame'>

 india     25.0
usa      100.0
china      NaN
Name: apples, dtype: float64 <class 'pandas.core.series.Series'>

 50.0

In [7]:
#add a column
df['canada']=pd.Series(data = [200,150], index = ['apples','kiwi'])
print(df)
#add a column based on sum of two columns
print(df[['usa','canada']])
df['usa+canada'] = df['usa'] + df['canada']
print(df)

#add a row
df.loc['bananas'] = pd.Series(data=[500,1000,300,100,1100],index=df.columns)
print(df)

        india    usa  china  canada
apples   25.0  100.0    NaN   200.0
durian    NaN    NaN   50.0     NaN
guava    50.0    NaN    NaN     NaN
kiwi      NaN   50.0   75.0   150.0
lychee    NaN    NaN   80.0     NaN
mango   100.0    NaN    NaN     NaN
pluot     NaN  100.0    NaN     NaN
          usa  canada
apples  100.0   200.0
durian    NaN     NaN
guava     NaN     NaN
kiwi     50.0   150.0
lychee    NaN     NaN
mango     NaN     NaN
pluot   100.0     NaN
        india    usa  china  canada  usa+canada
apples   25.0  100.0    NaN   200.0       300.0
durian    NaN    NaN   50.0     NaN         NaN
guava    50.0    NaN    NaN     NaN         NaN
kiwi      NaN   50.0   75.0   150.0       200.0
lychee    NaN    NaN   80.0     NaN         NaN
mango   100.0    NaN    NaN     NaN         NaN
pluot     NaN  100.0    NaN     NaN         NaN
         india     usa  china  canada  usa+canada
apples    25.0   100.0    NaN   200.0       300.0
durian     NaN     NaN   50.0     NaN         NaN
guava     50.0     NaN    NaN     NaN         NaN
kiwi       NaN    50.0   75.0   150.0       200.0
lychee     NaN     NaN   80.0     NaN         NaN
mango    100.0     NaN    NaN     NaN         NaN
pluot      NaN   100.0    NaN     NaN         NaN
bananas  500.0  1000.0  300.0   100.0      1100.0

In [8]:
#Dealing with NAN values
#Sumarize nan values
print(df.size)
print(df.isnull().sum().sum())

# Drop NAN columns
print(df.dropna(axis=0))
print(df.dropna(axis=1))
#Fill nan values with zeros
print(df.fillna(1))

#Ffill and backfill
print("\n\n",df)
print("\n",df.fillna(method='ffill',axis=0))
print("\n",df.fillna(method='backfill',axis=0))
#Interpolate
print("\n",df.interpolate(method='linear',axis=0))

print("\n",df.mean())

40
22
         india     usa  china  canada  usa+canada
bananas  500.0  1000.0  300.0   100.0      1100.0
Empty DataFrame
Columns: []
Index: [apples, durian, guava, kiwi, lychee, mango, pluot, bananas]
         india     usa  china  canada  usa+canada
apples    25.0   100.0    1.0   200.0       300.0
durian     1.0     1.0   50.0     1.0         1.0
guava     50.0     1.0    1.0     1.0         1.0
kiwi       1.0    50.0   75.0   150.0       200.0
lychee     1.0     1.0   80.0     1.0         1.0
mango    100.0     1.0    1.0     1.0         1.0
pluot      1.0   100.0    1.0     1.0         1.0
bananas  500.0  1000.0  300.0   100.0      1100.0


          india     usa  china  canada  usa+canada
apples    25.0   100.0    NaN   200.0       300.0
durian     NaN     NaN   50.0     NaN         NaN
guava     50.0     NaN    NaN     NaN         NaN
kiwi       NaN    50.0   75.0   150.0       200.0
lychee     NaN     NaN   80.0     NaN         NaN
mango    100.0     NaN    NaN     NaN         NaN
pluot      NaN   100.0    NaN     NaN         NaN
bananas  500.0  1000.0  300.0   100.0      1100.0

          india     usa  china  canada  usa+canada
apples    25.0   100.0    NaN   200.0       300.0
durian    25.0   100.0   50.0   200.0       300.0
guava     50.0   100.0   50.0   200.0       300.0
kiwi      50.0    50.0   75.0   150.0       200.0
lychee    50.0    50.0   80.0   150.0       200.0
mango    100.0    50.0   80.0   150.0       200.0
pluot    100.0   100.0   80.0   150.0       200.0
bananas  500.0  1000.0  300.0   100.0      1100.0

          india     usa  china  canada  usa+canada
apples    25.0   100.0   50.0   200.0       300.0
durian    50.0    50.0   50.0   150.0       200.0
guava     50.0    50.0   75.0   150.0       200.0
kiwi     100.0    50.0   75.0   150.0       200.0
lychee   100.0   100.0   80.0   100.0      1100.0
mango    100.0   100.0  300.0   100.0      1100.0
pluot    500.0   100.0  300.0   100.0      1100.0
bananas  500.0  1000.0  300.0   100.0      1100.0

               india          usa       china      canada   usa+canada
apples    25.000000   100.000000         NaN  200.000000   300.000000
durian    37.500000    83.333333   50.000000  183.333333   266.666667
guava     50.000000    66.666667   62.500000  166.666667   233.333333
kiwi      66.666667    50.000000   75.000000  150.000000   200.000000
lychee    83.333333    66.666667   80.000000  137.500000   425.000000
mango    100.000000    83.333333  153.333333  125.000000   650.000000
pluot    300.000000   100.000000  226.666667  112.500000   875.000000
bananas  500.000000  1000.000000  300.000000  100.000000  1100.000000

 india         168.750000
usa           312.500000
china         126.250000
canada        150.000000
usa+canada    533.333333
dtype: float64

In [12]:
df1 = pd.read_csv('data/GOOG.csv')
print(df1.head())
print(df1.shape)
print("\n",df1.isnull().sum())
print("\n",df1.describe())
print("\n",df1['Open'].max())

#statistical corelation
print(df.corr())

         Date       Open       High        Low      Close  Adj Close    Volume
0  2004-08-19  49.676899  51.693783  47.669952  49.845802  49.845802  44994500
1  2004-08-20  50.178635  54.187561  49.925285  53.805050  53.805050  23005800
2  2004-08-23  55.017166  56.373344  54.172661  54.346527  54.346527  18393200
3  2004-08-24  55.260582  55.439419  51.450363  52.096165  52.096165  15361800
4  2004-08-25  52.140873  53.651051  51.604362  52.657513  52.657513   9257400
(3313, 7)

 Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

               Open         High          Low        Close    Adj Close  \
count  3313.000000  3313.000000  3313.000000  3313.000000  3313.000000
mean    380.186092   383.493740   376.519309   380.072458   380.072458
std     223.818650   224.974534   222.473232   223.853780   223.853780
min      49.274517    50.541279    47.669952    49.681866    49.681866
25%     226.556473   228.394516   224.003082   226.407440   226.407440
50%     293.312286   295.433502   289.929291   293.029114   293.029114
75%     536.650024   540.000000   532.409973   536.690002   536.690002
max     992.000000   997.210022   989.000000   989.679993   989.679993

             Volume
count  3.313000e+03
mean   8.038476e+06
std    8.399521e+06
min    7.900000e+03
25%    2.584900e+06
50%    5.281300e+06
75%    1.065370e+07
max    8.276810e+07

 992.0
            india       usa  china    canada  usa+canada
india         1.0  1.000000    NaN -1.000000    1.000000
usa           1.0  1.000000    1.0 -0.841698    0.998501
china         NaN  1.000000    1.0 -1.000000    1.000000
canada       -1.0 -0.841698   -1.0  1.000000   -0.810885
usa+canada    1.0  0.998501    1.0 -0.810885    1.000000

In [13]:
df2 = pd.read_csv('data/fake-company.csv')
print(df2.head())
print("\n",df2.isnull().sum())
print("\n",df2.describe())

#using group by
print("\n",df2.groupby(['Year'])['Salary'].sum())

print("\n",df2.groupby(['Year'])['Salary'].mean())

print("\n",df2.groupby(['Year','Department'])['Salary'].mean())

   Year     Name Department  Age  Salary
0  1990    Alice         HR   25   50000
1  1990      Bob         RD   30   48000
2  1990  Charlie      Admin   45   55000
3  1991   Dakota         HR   26   52000
4  1991     Elsa         RD   31   50000

 Year          0
Name          0
Department    0
Age           0
Salary        0
dtype: int64

               Year        Age        Salary
count     9.000000   9.000000      9.000000
mean   1991.000000  32.222222  54333.333333
std       0.866025   7.870479   5147.815070
min    1990.000000  25.000000  48000.000000
25%    1990.000000  27.000000  50000.000000
50%    1991.000000  30.000000  52000.000000
75%    1992.000000  32.000000  60000.000000
max    1992.000000  46.000000  62000.000000

 Year
1990    153000
1991    162000
1992    174000
Name: Salary, dtype: int64

 Year
1990    51000.0
1991    54000.0
1992    58000.0
Name: Salary, dtype: float64

 Year  Department
1990  Admin         55000.0
      HR            50000.0
      RD            48000.0
1991  Admin         60000.0
      HR            52000.0
      RD            50000.0
1992  Admin         61000.0
      RD            52000.0
Name: Salary, dtype: float64

In [14]:
#load 2 cols form three file and use one col as index and then treat dates correctly
dfgoog =  pd.read_csv('data/GOOG.csv',index_col=['Date'],parse_dates=True,usecols=['Date','Adj Close'])
dfappl = pd.read_csv('data/AAPL.csv',index_col=['Date'],parse_dates=True,usecols=['Date','Adj Close'])
dfamzn = pd.read_csv('data/AMZN.csv',index_col=['Date'],parse_dates=True,usecols=['Date','Adj Close'])

print(dfgoog.head())

#create a new dataframe starting with a date range and join all others into it
dates = pd.date_range('2000-01-01', '2016-12-31')

# We create and empty DataFrame that uses the above dates as indices
all_stocks = pd.DataFrame(index = dates)
all_stocks.head()

#rename columns in each dataframe for goog, appl , amzn
dfgoog= dfgoog.rename(columns={'Adj Close':'google'})
dfappl = dfappl.rename(columns={'Adj Close':'apple'})
dfamzn = dfamzn.rename(columns={'Adj Close':'amazon'})
#join other dataframes to this one
all_stocks = all_stocks.join(dfgoog).join(dfappl).join(dfamzn)
print(all_stocks.head())

print(all_stocks.describe())
print(all_stocks.isnull().sum())
#drop all rows with NAN values
all_stocks.dropna(axis=0,inplace=True)
print(all_stocks.isnull().sum())

            Adj Close
Date
2004-08-19  49.845802
2004-08-20  53.805050
2004-08-23  54.346527
2004-08-24  52.096165
2004-08-25  52.657513
            google     apple   amazon
2000-01-01     NaN       NaN      NaN
2000-01-02     NaN       NaN      NaN
2000-01-03     NaN  3.596616  89.3750
2000-01-04     NaN  3.293384  81.9375
2000-01-05     NaN  3.341579  69.7500
            google        apple       amazon
count  3115.000000  4277.000000  4277.000000
mean    347.420229    35.222976   166.095436
std     187.671596    37.945557   189.212345
min      49.681866     0.843106     5.970000
25%     220.088539     3.221090    38.009998
50%     286.397247    17.524017    76.980003
75%     508.255340    64.533600   243.919998
max     813.109985   126.941574   844.359985
google    3095
apple     1933
amazon    1933
dtype: int64
google    0
apple     0
amazon    0
dtype: int64

In [16]:
#list some statistics of each stock and create a rolling min window of 150
rollingmean = all_stocks['google'].rolling(150).mean()
print(rollingmean)

2004-08-19           NaN
2004-08-20           NaN
2004-08-23           NaN
2004-08-24           NaN
2004-08-25           NaN
                 ...
2016-12-23    758.236666
2016-12-27    758.713066
2016-12-28    759.111599
2016-12-29    759.502732
2016-12-30    759.763799
Name: google, Length: 3115, dtype: float64

In [ ]:
#matplot lib google pricce and its rolling average
%matplotlib inline
import matplotlib.pyplot as plt

plt.plot(all_stocks['google'])
plt.plot(rollingmean)

plt.legend(['Google Stock Price', 'Rolling Mean'])